# Text and source files
*.php text
*.json text
*.cache text
*.md text
*.yml text
*.yaml text
*.txt text

# Binary assets
*.png binary
*.webp binary
*.avif binary
*.moc binary
*.mtn binary
*.wav binary
*.ogg binary
*.sample binary
*.idx binary
*.pack binary
*.rev binary
